<%- include header %>
<form method="post">
	<label><span>标题:</span><input type="text" name="title" /><br></label>
	<label for="article">正文</label>
	<textarea cols="100" rows="20" name="article"></textarea><br>
	<input type="submit" value="发表" />
</form>
<%- include footer %>